:root {
  --blue: #051252;
  --yellow: #e9bc3c;
  --orange: #d98e04;
  --strong-orange: #d97904;
  --sand: #bfa995;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: baloo_2;
  src: url("/assets/fonts/Baloo_2/Baloo2-VariableFont_wght.ttf")
    format(truetype);
}
